h1 {
  text-align: left;
  background-color: white;
  color: red;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

img {
  box-shadow: 10px 10px 5px white;
}

section {
  background-color: white;
}

p {
  font-size: 15px;
  color: black;
}

/*ul {
  border-style: solid;
  color: black;
} */
